# deps & package managers
node_modules/
.pnpm-store/

# Next.js / builds
.next/
out/
dist/
.vercel/

# caching / tooling
.turbo/
.cache/
coverage/

# Playwright
playwright-report/
test-results/
.playwright/

# OS / editors / misc
.DS_Store
.vscode/